* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body .fundoImagem {
    background: url(./assets/svg.png);
    background-repeat: no-repeat;
    width: 80vw;
    height: 115vh;
    padding-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5vh;
    background-size: cover;
}

#banner h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 2vh;

}

#banner h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 2vh;
}

#banner {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    max-width: 300px;
}

#banner input {
    width: 19vw;
    height: 5vh;
    border-radius: 5px;
    margin-bottom: 2vh;
    padding-left: 1vw;
    font-size: 14px;
    border: none;
}

#banner p {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
}

#banner button {
    background-color: black;
    color: white;
    width: 8vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    border: none;

}

#custom {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: 105px;
    margin-right: 105px;
}

.custom1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(45, 129, 123);
}

.custom1 h6 {
    font-size: 15px;
    font-weight: 550;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.795);
}

.custom1 p {
    font-size: 12px;
    margin-top: 10px;
    max-width: 220px;
    margin-top: 10px;
    color: gray;
}

#packImages img {
    width: 60px;
}

#sectionImages {
    display: flex;
    justify-content: center;
    margin-top: 105px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 105px;
    margin-left: 300px;
    margin-right: 300px;
}

#textAndButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#textAndButton p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.623);
    margin-top: 20px;
}

#textAndButton h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
}

#textAndButton button {
    background-color: rgb(45, 129, 123);
    margin-top: 30px;
    width: 130px;
    height: 40px;
    border: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 06px;
    cursor: pointer;
}

#FaqsText {
    font-family: Arial, sans-serif;
    text-align: center;
}

#FaqsText h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 150px;

}
.FaqsQuestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    margin-bottom: 20px;
    margin-left: 350px;
    margin-right: 350px;
}

footer{
    color: rgb(45, 129, 123);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 230px;
}

